In [ ]:
#Factorial of the number
num = int(input())
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

7
The factorial of 7 is 5040

In [ ]:
#Simple Interest
P = int(input("Enter the principal Amount:"))
R = float(input("Enter the rate:"))
T = int(input("Enter the time period:"))
SI = (P * R * T) / 100
print("simple interest is", SI)

Enter the principal Amount:1000
Enter the rate:4
Enter the time period:2
simple interest is 80.0

In [ ]:
#check number is prime or not 
number = int(input("Enter any number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")
else:
    print(number, "is not a prime number")

Enter any number: 407
407 is not a prime number

In [ ]:
#Fibonacci number
from functools import lru_cache
@lru_cache(maxsize = 1000)
def fibonacci(n):
  if n==1:
    return 1
  elif n==2:
    return 1
  elif n > 2:
    return fibonacci(n-1)+fibonacci(n-2)
for n in range(1,25):
  print(n,":",fibonacci(n))

1 : 1
2 : 1
3 : 2
4 : 3
5 : 5
6 : 8
7 : 13
8 : 21
9 : 34
10 : 55
11 : 89
12 : 144
13 : 233
14 : 377
15 : 610
16 : 987
17 : 1597
18 : 2584
19 : 4181
20 : 6765
21 : 10946
22 : 17711
23 : 28657
24 : 46368

In [29]:
#program for cube sum of first n natural numbers
def sumOfSeries(n): 
    sum = 0
    for i in range(1, n+1): 
        sum +=i*i*i 
    return sum
n = 6
print(sumOfSeries(n))

441

Array Programs

In [19]:
#Array Programs
#Find sum of array
def array_sum(arr):
    return sum(arr)
print(array_sum([1, 2, 3, 3, 7]))

16

In [28]:
#largest element in array
arr = [1,23,45,0,90];   
max = arr[0];    
for i in range(0, len(arr)):    
   if(arr[i] > max):    
       max = arr[i];    
           
print("Largest element present in given array: " + str(max));

Largest element present in given array: 90

In [21]:
#Program for array rotation
def right_rotation(a, k):
   rotations = k % len(a)
   return a[-rotations:] + a[:-rotations]

In [30]:
#Split the array and add the first part to the end
def splitArr(arr, n, k):  
    for i in range(0, k):  
        x = arr[0] 
        for j in range(0, n-1): 
            arr[j] = arr[j + 1]       
        arr[n-1] = x 
arr = [21,10,98,34,14] 
n = len(arr) 
position = 2
splitArr(arr, n, position)  
for i in range(0, n):  
    print(arr[i], end = ' ')

98 34 14 21 10

In [27]:
#Find reminder of array multiplication dived by n
def findremainder(arr, lens, n):
   mul = 1
   for i in range(lens):
      mul = (mul * (arr[i] % n)) % n
   return mul % n
# Driven code
arr = [100,1,2,3,4,5,6,6,7]
lens = len(arr)
n = 11
print( findremainder(arr, lens, n))

1

List Programs

In [31]:
#Interchange first and last elements in a list
def swapList(newList): 
    size = len(newList) 
    temp = newList[0] 
    newList[0] = newList[size - 1] 
    newList[size - 1] = temp 
    return newList 
newList = [10,22,67,23,45] 
print(swapList(newList))

[45, 22, 67, 23, 10]

In [13]:
#swap two elements in a list in python
def swapPositions(list, pos1, pos2): 
    list[pos1], list[pos2] = list[pos2], list[pos1] 
    return list
List = [23, 65, 19, 90] 
pos1, pos2  = 1, 3
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

In [14]:
#Ways to check if element exists in list
test_list = [ 1, 6, 3, 5, 3, 4 ] 
print("Checking if 4 exists in list ( using loop ) : ") 
for i in test_list: 
    if(i == 4) : 
        print ("Element Exists") 
print("Checking if 4 exists in list ( using in ) : ") 
if (4 in test_list): 
    print ("Element Exists")

Checking if 4 exists in list ( using loop ) :
Element Exists
Checking if 4 exists in list ( using in ) :
Element Exists

In [41]:
#Reversing a list 
systems = ['Windows', 'macOS', 'Linux']
print('Original List:', systems)
systems.reverse()
print('Updated List :', systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List : ['Linux', 'macOS', 'Windows']

In [16]:
#Remove multiple elements in a list 
list1 = [11,5,17,18,23,50]  
for ele in list1: 
    if ele % 2 == 0: 
        list1.remove(ele) 
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23]

In [42]:
#Cloning or copying a list
def Cloning(li1): 
    li_copy = li1[:] 
    return li_copy 
li1 = [11,5,17,18,23,50] 
li2 = Cloning(li1) 
print("Original List:", li1) 
print("After Cloning:", li2)

Original List: [11, 5, 17, 18, 23, 50]
After Cloning: [11, 5, 17, 18, 23, 50]

In [39]:
#Sort the values of first list using second list
def sort_list(list1, list2):
    zipped_pairs = zip(list2, list1)
    z = [x for _, x in sorted(zipped_pairs)]
    return z 
x = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
y = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]
print(sort_list(x, y))
x = ["g", "e", "e", "k", "s", "f", "o", "r", "g", "e", "e", "k", "s"]
y = [ 0,   1,   1,    0,   1,   2,   2,   0,   1]
print(sort_list(x, y))

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']
['g', 'k', 'r', 'e', 'e', 'g', 's', 'f', 'o']

Matrix Programs

In [38]:
# multiply two matrices in python
A = [[2,2,4], 
    [3 ,5,3], 
    [7 ,3,4]] 
B = [[3,2,1], 
    [3,4,3], 
    [3,2,1]] 
result = [[0, 0, 0, 0], 
        [0, 0, 0, 0], 
        [0, 0, 0, 0]] 
for i in range(len(A)): 
    for j in range(len(B[0])): 
        for k in range(len(B)): 
            result[i][j] += A[i][k] * B[k][j] 
for r in result: 
    print(r)

[24, 20, 12, 0]
[33, 32, 21, 0]
[42, 34, 20, 0]

In [37]:
#Program to add two matrices 
X = [[2,2,4], 
    [3 ,5,3], 
    [7 ,3,4]] 
Y = [[3,2,1], 
    [3,4,3], 
    [3,2,1]] 
result = [[0,0,0], 
        [0,0,0], 
        [0,0,0]] 
  
# iterate through rows 
for i in range(len(X)):    
# iterate through columns 
    for j in range(len(X[0])): 
        result[i][j] = X[i][j] + Y[i][j] 
  
for r in result: 
    print(r)

[5, 4, 5]
[6, 9, 6]
[10, 5, 5]

DateTime Programs

In [ ]:
#Program to get current Time
import time

t = time.localtime()
current_time = time.strftime("%H:%M:%S", t)
print(current_time)

04:00:34

In [36]:
#Get current date and time using python 
import datetime 
current_time = datetime.datetime.now()  
print ("Time now at GMT is : ", end = "")  
print (current_time)

Time now at GMT is : 2021-01-29 09:11:37.654131

In [35]:
#Find yesterday's , today's and tomorrows date
from datetime import datetime, timedelta 
presentday = datetime.now() 
yesterday = presentday - timedelta(1) 
tomorrow = presentday + timedelta(1) 
print("Yesterday : ", yesterday.strftime('%d-%m-%Y')) 
print("Today     : ", presentday.strftime('%d-%m-%Y')) 
print("Tomorrow  : ", tomorrow.strftime('%d-%m-%Y'))

Yesterday :  28-01-2021
Today     :  29-01-2021
Tomorrow  :  30-01-2021

In [34]:
#Program to convert time from 12 hour to 24 hour format 
def convertTo24HourFormat(inputTime):
    if inputTime[-2:] == "AM" and inputTime[:2] == "12":
        return "00" + inputTime[2:-2]
    elif inputTime[-2:] == "AM":
        return inputTime[:-2] 
    elif inputTime[-2:] == "PM" and inputTime[:2] == "12":
        return inputTime[:-2]
    else:
        return str(int(inputTime[:2]) + 12) + inputTime[2:8]
print("07:19:30 AM in 24 hour format is: ", convertTo24HourFormat("07:19:30 AM"))
print("09:10:15 PM in 24 hour format is: ", convertTo24HourFormat("09:10:15 PM"))

07:19:30 AM in 24 hour format is:  07:19:30
09:10:15 PM in 24 hour format is:  21:10:15