In [ ]:
#Create a function that can accept two arguments name and age and print its value
n=input("Enter the name:")
a=int(input("Enter the age:"))
def example(name, age):
    print(name, age)

example(n, a)

Enter the name:ravi ragul'
Enter the age:21
ravi ragul' 21

In [ ]:
#Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def val(*args):
    for i in args:
        print(i)

val(10,20,30)
val(80, 100)

10
20
30
80
100

In [ ]:
#Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call
add=int(input())
sub=int(input())
def calculation(a, b):
    return a+b, a-b

res = calculation(add, sub)
print(res)

2
2
(4, 0)

In [ ]:
#Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000
def emp(name, sal=9000):
    print("Employee", name, "salary is:", sal)

emp("Ravi", 9000)
emp("Ragul")

Employee Ravi salary is: 9000
Employee Ragul salary is: 9000

In [ ]:
#Create an inner function to calculate the addition in the following way
#Create an outer function that will accept two parameters a and b
#Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it
def outer(a, b):
    square = a**2
    def inner(a,b):
        return a+b
    add = inner(a, b)
    return add+5

result = outer(5, 10)
print(result)

20

In [ ]:
#Write a recursive function to calculate the sum of numbers from 0 to 10
def sum(num):
    if num:
        return num + sum(num-1)
    else:
        return 0
value = sum(10)
print(value)

55

In [ ]:
#Assign a different name to function and call it through the new name
def dis(name, age):
    print(name, age)

dis("Ravi", 26)

std = dis
std("Ravi", 26)

Emma 26
Emma 26

In [ ]:
#Generate a Python list of all the even numbers between 4 to 30
print(list( range(4, 30)))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
#Return the largest item from the given list
aList = [4, 6, 8, 24, 12, 2]
print(max(aList))

24