In [1]:
#program to Find the size of a Tuple
import sys 
Tuple1 = ("A", 1, "B", 2, "C", 3) 
Tuple2 = ("Ravi", "Ragul", "Sitra", "coimbatore") 
Tuple3 = ((1, "chennai"), ( 2, "bangalore"), (3, "madurai"), (4, "coimbatore")) 
print("Size of Tuple1: " + str(sys.getsizeof(Tuple1)) + "bytes") 
print("Size of Tuple2: " + str(sys.getsizeof(Tuple2)) + "bytes") 
print("Size of Tuple3: " + str(sys.getsizeof(Tuple3)) + "bytes")

Size of Tuple1: 96bytes
Size of Tuple2: 80bytes
Size of Tuple3: 80bytes

In [10]:
#Adding Tuple to List and vice – versa in python
test_tup = (5, 6, 7, 4, 9) 
print("The original tuple is : ", test_tup) 
K = "Logo"
res = [ele for sub in test_tup for ele in (sub, K)] 
print("Converted Tuple with K : ", res)

The original tuple is :  (5, 6, 7, 4, 9)
Converted Tuple with K :  [5, 'Logo', 6, 'Logo', 7, 'Logo', 4, 'Logo', 9, 'Logo']

In [ ]:
#Create a list of tuples from given list having number and its cube in each tuple
list1 = [1, 2, 5, 6] 
res = [(val, pow(val, 3)) for val in list1] 
print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

In [ ]:
#Join Tuples if similar initial element
test_list = [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)] 
print("The original list is : " + str(test_list)) 
res = [] 
for sub in test_list:                                            
    if res and res[-1][0] == sub[0]:               
        res[-1].extend(sub[1:])                         
    else: 
        res.append([ele for ele in sub])      
res = list(map(tuple, res)) 
print("The extracted elements : " + str(res))

The original list is : [(5, 6), (5, 7), (6, 8), (6, 10), (7, 13)]
The extracted elements : [(5, 6, 7), (6, 8, 10), (7, 13)]

In [6]:
#Extract digits from Tuple list
from itertools import chain 
test_list = [(15, 3), (3, 9), (1, 10), (99, 2)] 
print("The original list is : " + str(test_list)) 
temp = map(lambda ele: str(ele), chain.from_iterable(test_list)) 
res = set() 
for sub in temp: 
    for ele in sub: 
        res.add(ele) 
print("The extrated digits : " + str(res))

The original list is : [(15, 3), (3, 9), (1, 10), (99, 2)]
The extrated digits : {'0', '3', '9', '2', '1', '5'}

In [12]:
#Flatten tuple of List to tuple
test_tuple = ([5, 6], [6, 7, 8, 9], [3]) 
print("The original tuple : " + str(test_tuple)) 
res = tuple(sum(test_tuple, [])) 
print("The flattened tuple : " + str(res))

The original tuple : ([5, 6], [6, 7, 8, 9], [3])
The flattened tuple : (5, 6, 6, 7, 8, 9, 3)

In [8]:
#Extract Unique values dictionary values
test_dict = {'gfg' : [5, 6, 7, 8], 
             'is' : [10, 11, 7, 5], 
             'best' : [6, 12, 10, 8], 
             'for' : [1, 2, 5]} 
print("The original dictionary is : " + str(test_dict)) 
res = list(sorted({ele for val in test_dict.values() for ele in val})) 
print("The unique values list is : " + str(res))

The original dictionary is : {'gfg': [5, 6, 7, 8], 'is': [10, 11, 7, 5], 'best': [6, 12, 10, 8], 'for': [1, 2, 5]}
The unique values list is : [1, 2, 5, 6, 7, 8, 10, 11, 12]

In [9]:
#find the sum of all items in a dictionary
def returnSum(myDict): 
    sum = 0
    for i in myDict: 
        sum = sum + myDict[i] 
    return sum
# Driver Function 
dict = {'a': 100, 'b':200, 'c':300} 
print("Sum :", returnSum(dict))

Sum : 600

In [11]:
#how to remove a key from dictionary in python
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict: 
    del myDict['a']
print(myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [19]:
#Ways to sort list of dictionaries by values in Python – Using itemgetter
dicts = [
   {"name" : "John", "salary" : 10000},
   {"name" : "Emma", "salary" : 30000},
   {"name" : "Harry", "salary" : 15000},
   {"name" : "Aslan", "salary" : 10000}
]
print(sorted(dicts, key = itemgetter('salary'))

SyntaxError: ignored

In [13]:
##Ways to sort list of dictionaries by values in Python – Using lambda
dicts = [
   {"name" : "John", "salary" : 10000},
   {"name" : "Emma", "salary" : 30000},
   {"name" : "Harry", "salary" : 15000},
   {"name" : "Aslan", "salary" : 10000}
]
print(sorted(dicts, key = lambda item: item['salary']))

[{'name': 'John', 'salary': 10000}, {'name': 'Aslan', 'salary': 10000}, {'name': 'Harry', 'salary': 15000}, {'name': 'Emma', 'salary': 30000}]

In [31]:
# Append Dictionary Keys and Values ( In order ) in dictionary 
test_dict = {"MDU" : 1, "CBE" :  3, "CHE" : 2}
print("The original dictionary is : " + str(test_dict)) 
res = list(test_dict.keys()) + list(test_dict.values()) 
print("The ordered keys and values : " + str(res))

TypeError: ignored

In [15]:
#Sort Python Dictionaries by Key or Value
def dictionairy():  
 key_value ={}     
 key_value[2] = 56       
 key_value[1] = 2 
 key_value[5] = 12 
 key_value[4] = 24
 key_value[6] = 18      
 key_value[3] = 323 
 print ("Task 2:-\nKeys and Values sorted in",  
            "alphabetical order by the key  ")   
 for i in sorted (key_value) : 
    print ((i, key_value[i]), end =" ") 
def main(): 
    dictionairy()    
if __name__=="__main__":      
    main()

Task 2:-
Keys and Values sorted in alphabetical order by the key
(1, 2) (2, 56) (3, 323) (4, 24) (5, 12) (6, 18)

In [16]:
#Remove all duplicates words from a given sentence
s = "Python is great and Java is also great"
l = s.split() 
k = [] 
for i in l: 
    if (s.count(i)>1 and (i not in k)or s.count(i)==1): 
        k.append(i) 
print(' '.join(k))

Python is great and Java also

In [35]:
#Check whether the string is Symmetrical or Palindrome
list2 = 'madam'
list2 = list2.casefold()
rev1 = reversed(list2)
if list(list2) == list(rev1):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

TypeError: ignored

In [27]:
#Reverse words in a given string 
def reverse1(text):
    for line in text.split('\n'):
        return(' '.join(line.split()[::-1]))
print(reverse1("PSG College of Arts and Science"))
print(reverse1("Python Exercises"))

Science and Arts of College PSG
Exercises Python

In [22]:
#Find length of a string in python
def findLen(str): 
    counter = 0
    while str[counter:]: 
        counter += 1
    return counter 
  
str = "RaviRagul"
print(findLen(str))

9

In [21]:
#Program to check if a string contains any special character
import re 
def run(string): 
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]') 
    if(regex.search(string) == None): 
        print("String is accepted") 
    else: 
        print("String is not accepted.") 
if __name__ == '__main__' : 
    string = "RaviRagul"
    run(string)

String is accepted

In [20]:
#Replace duplicate Occurrence in String in python
from collections import OrderedDict
def remove_duplicate(str1):
  return "".join(OrderedDict.fromkeys(str1))
     
print(remove_duplicate("PSG College"))
print(remove_duplicate("RaviRagul"))

PSG Coleg
Ravigul