In [ ]:
n=input("Enter the name:")
a=int(input("Enter the age:"))
def example(name, age):
    print(name, age)

example(n, a)

Enter the name:ravi ragul'
Enter the age:21
ravi ragul' 21

In [ ]:

def val(*args):
    for i in args:
        print(i)

val(10,20,30)
val(80, 100)

10
20
30
80
100

In [ ]:
add=int(input())
sub=int(input())
def calculation(a, b):
    return a+b, a-b

res = calculation(add, sub)
print(res)

2
2
(4, 0)

In [ ]:
def emp(name, sal=9000):
    print("Employee", name, "salary is:", sal)

emp("Ravi", 9000)
emp("Ragul")

Employee Ravi salary is: 9000
Employee Ragul salary is: 9000

In [ ]:
def outer(a, b):
    square = a**2
    def inner(a,b):
        return a+b
    add = inner(a, b)
    return add+5

result = outer(5, 10)
print(result)

20

In [ ]:
def sum(num):
    if num:
        return num + sum(num-1)
    else:
        return 0
value = sum(10)
print(value)

55

In [ ]:
def dis(name, age):
    print(name, age)

dis("Ravi", 26)

std = dis
std("Ravi", 26)

Emma 26
Emma 26

In [ ]:
print(list( range(4, 30)))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
aList = [4, 6, 8, 24, 12, 2]
print(max(aList))

24