In [ ]:
import datetime
now = datetime.datetime.now()
print("Current date and time: ")
print(str(now))

Current date and time:

TypeError: ignored

In [ ]:
print("""Twinkle, twinkle, little star, 
How I wonder what you are! 
\t\tUp above the world so high,
 \t\tLike a diamond in the sky. 
 Twinkle, twinkle, little star, 
 \tHow I wonder what you are!""")

Twinkle, twinkle, little star,
How I wonder what you are!
		Up above the world so high,
 		Like a diamond in the sky.
 Twinkle, twinkle, little star,
 	How I wonder what you are!

In [ ]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello " + lname + " " + fname)

Input your First Name : Ravi
Input your Last Name : Ragul
Hello Ragul Ravi

In [ ]:
values = input("Enter the numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Enter the numbers : 9,12,45,67,89
List :  ['9', '12', '45', '67', '89']
Tuple :  ('9', '12', '45', '67', '89')

In [ ]:
l = ["Red","Green","White" ,"Black"]
print( l[0],l[-1])

Red Black

In [ ]:
value= int(input("Enter an integer : "))
n1 = int( "%d" % value )
n2 = int( "%d%d" % (value,value) )
n3 = int( "%d%d%d" % (value,value,value) )
print (n1+n2+n3)

Enter an integer : 5
615

In [ ]:
import calendar
y = int(input("Input the year : "))
m = int(input("Input the month : "))
print(calendar.month(y, m))

Input the year : 2021
Input the month : 1
    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
def thrice(x, y, z):

     sum = x + y + z
  
     if x == y == z:
      sum = sum * 3
     return sum

print(thrice(1, 2, 3))
print(thrice(5, 5, 5))

6
45

In [ ]:
def new_string(str):
  if len(str) >= 2 and str[:2] == "Is":
    return str
  return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

IsArray
IsEmpty

In [ ]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 12
This is an even number.

In [ ]:
def concatenate(list):
    result= ''
    for element in list:
        result += str(element)
    return result

print(concatenate([24, 0, 6, 1999]))

24061999

In [ ]:
a = set(["White", "Black", "Red"])
b = set(["Red", "Green"])

print(a.difference(b))

{'Black', 'White'}

In [ ]:
def add(a, b):
    if not (isinstance(a, int) and isinstance(b, int)):
         raise TypeError("Inputs must be integers")
    return a + b

print(add(90, 20))

110

In [ ]:
m=int(input())
def check(n):
      return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
      
print(check(m))

1000
True

In [ ]:
def sum(x, y):
    sum = x + y
    if sum > 1000:
        return x*y
    else:
        return sum

print(sum(10, 600))
print(sum(10, 2))
print(sum(10, 12))

610
12
22

In [ ]:
s=int(input())
num = list(range(s))
previousNum = 0
for i in num:
    sum = previousNum + i
    print('Current Number '+ str(i) + " "+'Previous Number ' + str(previousNum) + ' is ' + str(sum)) # <- This is the issue.
    previousNum=i

5
Current Number 0 Previous Number 0 is 0
Current Number 1 Previous Number 0 is 1
Current Number 2 Previous Number 1 is 3
Current Number 3 Previous Number 2 is 5
Current Number 4 Previous Number 3 is 7

In [ ]:
def even(str):
  for i in range(0, len(str)-1, 2):
    print( str[i] )

inputStr = "pynative" 

print("Printing only even index chars")
even(inputStr)

Printing only even index chars
p
n
t
v

In [ ]:
str=input("Enter the String:")
index=int(input("Enter the number to remove:"))
print(res)
if index > res:
    print("Entered number is more than string characters")
else:
  print("Removing n number of chars")
  print(remove(str, index))
def remove(str, n):
  return str[n:]

Enter the String:pynative
Enter the number to remove:4
8
Removing n number of chars
tive

In [ ]:
def num(numberList):
    print("The list is ", numberList)
    firstElement = numberList[0]
    lastElement = numberList[-1]
    if (firstElement == lastElement):
        return True
    else:
        return False

numList = [10, 20, 30, 40, 10]
print("result is", num(numList))

The list is  [10, 20, 30, 40, 10]
result is True